@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

@materialred: #f44336;
@materialgreen: #22af14;
@materialblue: #2196f3;

.keyframes(@name; @arguments) {
  @-moz-keyframes @name { @arguments(); }
  @-webkit-keyframes @name { @arguments(); }
  @keyframes @name { @arguments(); }
}
.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

html, body {
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', Arial, sans-serif !important;
}

#app {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff url('../images/main_bg.jpg') center top no-repeat;
  background-size: cover;
}

.editor-button {
  border: 0;
  padding: 4px 8px;
  font-size: 10px;
  text-transform: uppercase;
  background: #e6e6e6;
  margin: 0 5px;
  transition: all 0.3s ease;
  &:hover {
    background: silver;
    transition: all 0.3s ease;
  }
}

.alert-error-icon {
  width: 32px;
  height: 32px;
  svg {
    width: 32px;
    height: 32px;
    fill: @materialred;
  }
}

.loading-hint {
  margin: 10px auto;
}

.loading-indicator-container {
  &.async-container {
    position: relative;
    margin: 0 auto;
    background: transparent;
    bottom: -100px;
    top: auto;
  }
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 5000;
  .keyframes(fadeIn;{
    0% {opacity: 0;}
    100% {opacity: 1;}
  });
  .animation(fadeIn 0.5s linear 1);
  .mimimi-spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background: #ffffff url('../images/loadcat.gif') 58% center no-repeat;
  }
  .sun-spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    background: transparent url('../images/sun.png') center center no-repeat;
    z-index: -1;
    .keyframes(rotateInf;{
      0% {transform: translateY(-50%) rotate(0deg);}
      100% {transform: translateY(-50%) rotate(360deg);}
    });
    .animation(rotateInf 6s linear infinite);
  }
}

.margined-left {
  margin-left: 5px;
}

.modal-wrapper {
  >div {
    >div {
      >div {
        &:first-of-type {
          max-height: 90%;
          overflow-y: auto;
        }
      }
    }
  }
}

.title-logo {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  position: relative;
  .title {
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: green;
  }
}

.back-home-button {
  display: block;
  margin: 0 auto;
  svg {
    width: 15px;
    height: 15px;
    fill: #ffffff;
    vertical-align: sub !important;
    margin-right: 4px;
  }
}

.authorization-info {
  font-size: 13px;
  position: absolute;
  left: 20px;
  bottom: 12px;
  .login-icon {
    &:hover {
      svg {
        fill: gray;
        transition: all 0.3s ease;
      }
    }
    svg {
      cursor: pointer;
      fill: #d3d3d3;
      width: 26px;
      height: 26px;
      transition: all 0.3s ease;
    }
  }
}

.authorization-form {
  padding: 30px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.3);
}

.btn-green {
  color: #ffffff;
  background: green;
  &:hover {
    background: #006400;
  }
}

.main-menu-wrapper {
  text-align: center;
}

.menu-item-divider {
  margin: 4px auto 10px auto;
  border-top: 1px gray solid;
}

.delete-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 55px;
  right: 10px;
  display: block;
  background: #ffffff;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  .delete-confirm {
    display: block;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    background: @materialgreen;
    right: 50px;
    color: #ffffff;
    top: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 24px;
    border-radius: 100%;
    z-index: -1;
    .keyframes(slideLeft;{
      0% {transform: translateX(20px); opacity: 0; pointer-events: none;}
      1% {transform: translateX(20px); opacity: 1; pointer-events: auto;}
      10% {transform: translateX(0); opacity: 1; pointer-events: auto;}
      90% {transform: translateX(0); opacity: 1; pointer-events: auto;}
      100% {transform: translateX(0); opacity: 0; pointer-events: none;}
    });
    .animation(slideLeft 3s ease 1);
  }
  svg {
    fill: @materialred;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  &:hover {
    background: @materialred;
    transition: all 0.3s ease;
    svg {
      fill: #ffffff;
      transition: all 0.3s ease;
    }
  }
  &:before {
    content: "\200B";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.edit-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  display: block;
  background: #ffffff;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
  text-align: center;
  z-index: 500;
  transition: all 0.3s ease;
  svg {
    fill: @materialblue;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  &:hover {
    background: @materialblue;
    transition: all 0.3s ease;
    svg {
      fill: #ffffff;
      transition: all 0.3s ease;
    }
  }
  &:before {
    content: "\200B";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.top-level-menu-item-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  display: inline-block;
  background: transparent;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 11px;
  &.add-new {
    background: silver;
    .image-placeholder {
      &:before {
        content: "\200B";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      svg {
        fill: gray;
        width: 40px;
        height: 40px;
      }
    }
  }
  &.animals {
    background: url('../images/animals_main_bg.png') center center;
  }
  &.birds {
    background: url('../images/birds_main_bg.png') center center;
  }
  &.insects {
    background: url('../images/insects_main_bg.png') center center;
  }
  &.plants {
    background: url('../images/plants_main_bg.png') center center;
  }
  .delete-button-wrapper {
    z-index: 500;
    position: absolute;
    width: 100%;
  }
  .top-level-menu-item {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px silver solid;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    .circle {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      width: 150px;
      height: 150px;
      background: #ffffff;
      border-radius: 100%;
      box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
    }
    .vertical-aligner {
      z-index: 100;
      position: relative;
      .image-placeholder {
        background: transparent;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        overflow: hidden;
        transition: all 0.5s ease;
        img {
          height: 100%;
          width: auto;
          min-width: 100%;
          min-height: 100%;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
      p {
        font-family: 'Bad Script', cursive;
        white-space: nowrap;
        font-size: 20px;
        transition: all 0.5s ease;
      }
    }
    &:before {
      content: "\200B";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    &:hover {
      border: 1px #000000 solid;
      transition: all 0.5s ease;
      .vertical-aligner {
        hr {
          width: 70%;
          transition: all 0.5s ease;
        }
        .image-placeholder {
          transform: translateY(-10px);
          transition: all 0.5s ease;
        }
        p {
          transform: translateY(10px);
          transition: all 0.5s ease;
        }
      }
    }
    span {
      position: relative;
    }
  }
}

.vertical-aligner {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  hr {
    width: 50%;
    transition: all 0.5s ease;
  }
}

.nothing-here {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  color: gray;
}

.list-home-button {
  display: block;
  margin: 0 auto;
}

.chapter-items-list-wrapper {
  &.loading-mockup {
    .items-list-title {
      color: transparent;
      background: #dcdcdc;
      width: 50%;
      text-shadow: none;
      margin: 21px auto 0 auto;
    }
    .list-item {
      background: #dcdcdc;
    }
  }
  .items-list-title {
    color: white;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);
    text-align: center;
  }
  .list-item {
    height: 100px;
    margin: 18px 0;
    position: relative;
    background: #fdfff4 url('../images/list_bg.jpg') right center no-repeat;
    border-radius: 10px;
    overflow: hidden;
    z-index: 500;
    &.add-item {
      position: relative;
      .image-placeholder {
        cursor: pointer;
        background: silver;
        text-align: center;
        position: relative;
        &:hover {
          svg {
            fill: #575757;
            transition: all 0.3s ease;
          }
        }
        svg {
          fill: gray;
          width: 40px;
          height: 40px;
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.3s ease;
        }
      }
      .list-item-title {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    .list-item-title {
      cursor: pointer;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
    h4 {
      margin-top: 22px;
    }
    h6 {
      margin-top: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 50px;
    }
    .delete-button {
      top: 53px;
      background: #eeeeee;
      &:hover {
        background: @materialred;
      }
    }
    .edit-button {
      top: 8px;
      background: #eeeeee;
      &:hover {
        background: @materialblue;
      }
    }
  }
  .image-placeholder {
    background: gray url('../images/upfeathers.png');
    overflow: hidden;
    width: 100px;
    height: 100%;
    float: left;
    margin: 0 25px 0 0;
    img {
      height: 100%;
      width: auto;
      min-width: 100%;
      min-height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}

.loading-mockup {
  .keyframes(fadeInFast;{
    0% {opacity: 0;}
    100% {opacity: 1;}
  });
  .animation(fadeInFast 1s linear 1);
}

.item-details-wrapper {
  background: #ffffff;
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px;
  &.not-found {
    height: 300px;
    background: #ffffff url('../images/sad_kitten.jpg') center center no-repeat;
    background-size: initial;
  }
  .form-group {
    &:first-of-type {
      margin-top: 30px;
    }
    +.image-placeholder {
      margin: 0 16px 30px 0;
    }
  }
  .back-home-button {
    display: inline-block;
  }
  .edit-details-button {
    background: @materialblue;
    color: #ffffff;
    margin-left: 10px;
    &:hover {
      background: #2169c1;
    }
  }
  .details-title {
    font-family: 'Bad Script', cursive;
    clear: both;
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 20px;
    &.loading-mockup {
      color: transparent;
      background: #dcdcdc;
      width: 50%;
      margin: 40px auto 20px auto;
    }
  }
  .details-description {
    strong {
      color: green;
    }
    blockquote {
      width: 100%;
      position: relative;
      background: #18bc9c;
      border: 0;
      margin: 20px auto;
      color: white;
      font-weight: normal;
      font-size: initial;
    }
    text-align: left;
    margin: 40px 60px;
  }
  .image-placeholder {
    position: relative;
    background: transparent;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 16px 0 0;
    .image-container {
      &.loading-mockup {
        height: 300px;
        background: #dcdcdc;
      }
      background: gray url('../images/tree_bark.png');
    }
    img {
      height: auto;
      max-width: 100%;
      min-height: 100%;
      /*margin-left: 50%;
      transform: translateX(-50%);*/
    }
    .cover-preview {
      position: relative;
      background: #e6e6e6;
      .preview-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        font-size: 11px;
        white-space: nowrap;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        text-align: center;
        background: rgba(255,255,255,0.8);
        padding: 2px 0;
      }
      &.blank {
        background: silver;
        cursor: pointer;
        height: 200px;
        &:hover {
          .add-title {
            background: rgba(255,255,255,1);
            transition: all 0.3s ease;
          }
        }
        .add-title {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 13px;
          text-transform: uppercase;
          white-space: nowrap;
          margin: 0 auto;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 80%;
          text-align: center;
          background: rgba(255, 255, 255, 0.5);
          padding: 2px 0;
          transition: all 0.3s ease;
        }
      }
    }
    .cover-input {
      input[type=file] {
        position: absolute;
        height: 70%;
        opacity: 0;
      }
    }
  }
}

.modal-header {
  padding: 15px 30px;
}

.buttons-wrapper {
  &.centered {
    display: table;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  &.bottom-margined {
    margin: 0 auto 25px auto;
  }
}

.wysiwyg-wrapper {
  margin: 20px 60px 40px 60px;
}

.popup-content {
  button.close {
    float: right;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1.3;
    color: #000000;
    text-shadow: none;
    opacity: 0.2;
    filter: alpha(opacity=20);
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    &:hover,
    &:focus {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  }
  display: block;
  width: 100%;
  margin: 0 auto;
  .popup-form {
    width: 90%;
    margin: 30px auto;
    text-align: center;
    .form-group {
      vertical-align: top;
      margin-right: 2%;
      text-align: left;
      &.cover-input {
        position: relative;
      }
      input[type=file] {
        height: 234px;
      }
      width: 48%;
      display: inline-block;
    }
  }
  .cover-preview {
    position: absolute;
    width: 100%;
    height: 234px;
    left: 0;
    bottom: -16px;
    overflow: hidden;
    margin-bottom: 16px;
    border: 2px solid #dce4ec;
    background: #ffffff;
    &.blank {
      background: silver;
      cursor: pointer;
      &:hover {
        .add-title {
          background: rgba(255,255,255,1);
          transition: all 0.3s ease;
        }
      }
      .add-title {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px;
        text-transform: uppercase;
        white-space: nowrap;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        text-align: center;
        background: rgba(255, 255, 255, 0.5);
        padding: 2px 0;
        transition: all 0.3s ease;
      }
    }
    .preview-title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      font-size: 11px;
      white-space: nowrap;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      text-align: center;
      background: rgba(255,255,255,0.8);
      padding: 2px 0;
    }
    img {
      width: auto;
      height: auto;
      max-height: 100%;
      margin-left: 50%;
      position: relative;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    .delete-button {
      top: 53px;
      background: #eeeeee;
      z-index: 200;
      &:hover {
        background: @materialred;
      }
    }
    .edit-button {
      top: 8px;
      background: #eeeeee;
      &:hover {
        background: @materialblue;
      }
    }
  }
}

footer {
  text-align: center;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  margin-top: 20px;
}

@media (max-width:768px) {
  .popup-form {
    .form-group {
      display: block !important;
      width: 100% !important;
    }
    .wysiwyg-wrapper {
      height: auto !important;
    }
  }
}