#app {
  width: 90%;
  margin: 20px auto;
}

.main-menu-wrapper {
  text-align: center;
}

.menu-item-divider {
  margin: 4px auto 10px auto;
  border-top: 1px gray solid;
}

.top-level-menu-item {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px silver solid;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  .vertical-aligner {
    img {
      transition: all 0.5s ease;
    }
    p {
      text-transform: uppercase;
      transition: all 0.5s ease;
    }
  }
  &:before {
    content: "\200B";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  &:hover {
    border: 1px #000000 solid;
    transition: all 0.5s ease;
    .vertical-aligner {
      transition: all 0.5s ease;
      width: 200px;
      img {
        transform: translateY(-10px);
        transition: all 0.5s ease;
      }
      p {
        transform: translateY(10px);
        transition: all 0.5s ease;
      }
    }
  }
  span {
    position: relative;
  }
}

.vertical-aligner {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  transition: all 0.5s ease;
}

.details-portrait {
  width: 500px;
  height: auto;
}

/* I have no idea why this isn't included in the main Boostrap CSS */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  img {
    width: 65px;
    height: auto;
    float: left;
    margin-right: 14px;
  }
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  &.link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}
