#app {
  width: 90%;
  margin: 20px auto;
}

.main-menu-wrapper {
  text-align: center;
}

.menu-item-divider {
  margin: 4px auto 10px auto;
  border-top: 1px gray solid;
}

.top-level-menu-item {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px silver solid;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  .vertical-aligner {
    img {
      transition: all 0.5s ease;
    }
    p {
      text-transform: uppercase;
      transition: all 0.5s ease;
    }
  }
  &:before {
    content: "\200B";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  &:hover {
    border: 1px #000000 solid;
    transition: all 0.5s ease;
    .vertical-aligner {
      transition: all 0.5s ease;
      width: 200px;
      img {
        transform: translateY(-10px);
        transition: all 0.5s ease;
      }
      p {
        transform: translateY(10px);
        transition: all 0.5s ease;
      }
    }
  }
  span {
    position: relative;
  }
}

.vertical-aligner {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  transition: all 0.5s ease;
}

.details-portrait {
  width: 500px;
  height: auto;
}

/* I have no idea why this isn't included in the main Boostrap CSS */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  img {
    width: 65px;
    height: auto;
    float: left;
    margin-right: 14px;
  }
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  &.link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}

.system_info {
  position:fixed;
  top:20px;
  width:90%;
  background:rgba(255,255,255,0.8);
  color:gray;
  font-size:11px;
  text-align:center;
  padding:20px;
  margin:0 auto;
  left:0px;
  right:0px;
  z-index:6000;
  transition:all 0.3s ease;
}

.no_missions_alert {
  width:90%;
  color:gray;
  font-size:12px;
  text-align:left;
  padding:20px;
  z-index:6000;
  transition:all 0.3s ease;
}

.invisible {
  opacity:0;
}

.better_red {
  background:#D50000 !important;
}

.system_info:hover {
  opacity:0.6;
  transition:all 0.3s ease;
}

.entry_confirmation {
  position:absolute;
  bottom: 42px;
  right: 28px;
  background:green;
  padding:10px 20px;
  color:#ffffff;
  font-size:12px;
  border-radius:20px;
  display:none;
}

hr.error {
  width:100%;
  margin:0px;
  border-top:1px red dashed;
  border-bottom:0px;
  padding:0px;
}

hr.margin {
  clear:both;
  margin:10px 0px;
  border:0px;
}

.entry_form_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: 5000;
}

.entry_form_window {
  background: #fff;
  width: 100%;
  max-width: 550px;
  position: absolute;
  text-align: left;
  margin: 0px auto;
  right:0px;
  left:0px;
  top:50%;
  transform:translateY(-50%);
  -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  box-shadow: 0 3px 20px rgba(0,0,0,0.9);
}

.entry_form {
  padding:60px 30px 30px 30px;
  position:relative;
}

.entry_form .logo {
  width: 100px;
  height: 100px;
  //background: transparent url('imgs/animals.png') center no-repeat;
  //background-size: contain;
  position: absolute;
  left: 0px;
  margin: 0 auto;
  right: 0px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  top: -60px;
}

.entry_form .entry_title, .entry_form .register_title {
  margin:0px 20px 30px 0px;
  display:inline-block;
  padding: 10px 20px;
  background: #CFD8DC;
  color:#ffffff;
  text-transform:uppercase;
  cursor:pointer;
  transition:all 0.3s ease;
}

.entry_form .entry_title:hover, .entry_form .register_title:hover {
  background: #64B5F6;
  transition:all 0.3s ease;
}

.entry_form .entry_title.active, .entry_form .register_title.active {
  margin:0px 20px 30px 0px;
  display:inline-block;
  padding: 10px 20px;
  background: #2196F3;
  color:#ffffff;
  text-transform:uppercase;
  cursor:pointer;
  transition:all 0.3s ease;
}

.entry_form .entry_title.active:hover, .entry_form .register_title.active:hover {
  background: #64B5F6;
  transition:all 0.3s ease;
}

.entry_form_window label {
  margin:10px 0px;
}

span.error_empty {
  display: inline;
  opacity:0;
  color: white;
  position:absolute;
  font-size: 10px;
  background: #D50000;
  padding: 3px 10px;
  margin-left: 20px;
  border-radius: 10px;
  pointer-events:none;
}

.entry_form_window input {
  clear:both;
  display:block;
}

.entry_form_window input:not([type=submit]) {
  font-family:'Roboto',sans-serif;
  letter-spacing: 0.5px;
  padding:10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:10px 0px 20px 0px;
  border:1px silver solid;
  transition:all 0.3s ease;
}

.entry_form_window input:not([type=submit]):focus {
  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  outline:0px;
  border:1px silver solid;
  transition:all 0.3s ease;
}

.entry_form_window input[type=submit] {
  font-family:'Roboto',sans-serif;
  border:0px;
  padding:10px 20px;
  color:#ffffff;
  background:#4CAF50;
  text-transform:uppercase;
  cursor:pointer;
  margin:10px 0px;
  outline:0px;
  transition:all 0.3s ease;
}

.entry_form_window input[type=submit]:hover {
  background:#81C784;
  outline:0px;
  border:0px;
  transition:all 0.3s ease;
}

.entry_form_window input[type=submit]:focus  {
  background:#2E7D32;
  outline:0px;
  border:0px;
  transition:all 0.3s ease;
}

a.add_mission {
  padding:10px 20px 10px 12px;
  background:#ffffff;
  text-transform:uppercase;
  color:#5f90b0;
  text-decoration:none;
  margin:10px 0px;
  display:table;
  border-radius:4px;
  box-shadow:0px 2px 2px 0px rgba(0,0,0,0.2);
  font-size:12px;
  width:150px;
  text-align:left;
  transition:all 0.3s ease;
}

a.add_mission:hover {
  color:#000000;
  transition:all 0.3s ease;
}

a.add_mission i.fa {
  margin-right:6px;
}

a.logout {
  padding:10px 20px 10px 12px;
  background:#ffffff;
  text-transform:uppercase;
  color:#e55f3c;
  text-decoration:none;
  margin:10px 0px;
  display:table;
  border-radius:4px;
  box-shadow:0px 2px 2px 0px rgba(0,0,0,0.2);
  font-size:12px;
  width:150px;
  text-align:left;
  transition:all 0.3s ease;
}

a.logout:hover {
  color:#000000;
  transition:all 0.3s ease;
}

a.logout i.fa {
  margin-right:6px;
}






.add_mission_form_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: 5000;
  display:none;
}

.add_mission_form_window {
  background: #fff;
  width: 100%;
  max-width: 550px;
  position: absolute;
  text-align: left;
  margin: 0px auto;
  left:0px;
  right:0px;
  top:50%;
  transform:translateY(-50%);
  -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  box-shadow: 0 3px 20px rgba(0,0,0,0.9);
}

.add_mission_form_window input, .add_mission_form_window select {
  display:block;
}

.add_mission_form {
  padding:20px;
}

.add_mission_form label {
  font-size:12px;
  text-transform:uppercase;
  color:gray;
}

.add_mission_form input:not([type=submit]) {
  padding:10px 20px;
  width:100%;
  letter-spacing: 0.5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:10px 0px 20px 0px;
  border:1px silver solid;
  transition:all 0.3s ease;
}

.add_mission_form input:not([type=submit]):focus {
  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  outline:0px;
  border:1px silver solid;
  transition:all 0.3s ease;
}

.add_mission_form select {
  padding:10px 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:relative;
}

.add_mission_form .select_override {
  width:100%;
  padding:0px;
  border:0px;
  background:transparent;
  margin:10px 0px 20px 0px;
}

.add_mission_form input[type=submit] {
  padding:10px 20px;
  background:#5f90b0;
  text-transform:uppercase;
  color:#ffffff;
  text-decoration:none;
  margin:10px 0px;
  display:table;
  width:200px;
  text-align:center;
  transition:all 0.3s ease;
  border:0px;
  cursor:pointer;
  transition:all 0.3s ease;
}

.add_mission_form input[type=submit]:hover {
  background:#549dcb;
  transition:all 0.3s ease;
}

.missions_list {
  border-spacing: 0px;
  border-collapse: separate;
  max-width:700px;
  width:100%;
  margin:20px 0px;
}

.missions_list .difficulty_icon {
  vertical-align: middle;
  bottom: 2px;
  position: relative;
  margin-right:14px;
}

.missions_list .inactive_picture {
  vertical-align: middle;
  bottom: 2px;
  position: relative;
  margin-right:14px;
  padding-left:2px;
}

.missions_list .inactive_picture + span {
  color:#4eaf7a;
}

.missions_list td {
  padding:10px 20px;
}

.missions_list td.title {
  background:#A1887F;
  color:#ffffff;
  text-transform:uppercase;
  letter-spacing:1px;
}

.missions_list td.progress {
  background:#eac85d;
  height:0px;
  padding:2px;
}

.missions_list td.progress.completed {
  background:#4eaf7a;
  height:0px;
  padding:2px;
}

.missions_list td.date {
  background:#f5f0ec;
  font-size:12px;
  color:#aaa;
}

.missions_list .delete, .missions_list .check, .missions_list .return {
  opacity:0.5;
  margin-left:10px;
  transition:all 0.3s ease;
  cursor:pointer;
}

.missions_list .delete:hover, .missions_list .check:hover, .missions_list .return:hover {
  opacity:1;
  transition:all 0.3s ease;
}

.missions_list .options {
  opacity:0.8;
  margin-left:10px;
  transition:all 0.3s ease;
  cursor:pointer;
}

.missions_list .options:hover {
  opacity:1;
  transition:all 0.3s ease;
}

.missions_list .options_backside {
  display:none;
}

.missions_list .options_backside img {
  margin-left:8px;
}

.missions_list .loot_reward_text {
  color:#e89900;
}

.username_visible {
  padding:10px 20px;
  margin:10px 0px;
  background:rgba(255,255,255,0.3);
  font-size:13px;
  color:gray;
}

.username_visible b {
  font-weight:normal;
  color:#000000;
}
